.t-btn .btn {
	width: 100px;
	height: 40px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.t-btn .btn:first-child {
	margin-top: 30px;
}

.t-btn {
	padding: 0;
}
.t-editarea {
	height: 90vh;
}
.t-editarea * {
	font-family: consolas, 微软雅黑, Arial, sans-serif;
}
.t-editarea .t-textarea {
	height: 90%;
}

#input>div, #output>div{
	height: 100%;
}
